{{define "title"}}About{{end}} {{define "main"}}
<h2>About</h2>
<p>Welcome to Snippetbox, the ultimate platform for effortlessly sharing and discovering text snippets. At Snippetbox, we understand the power of concise communication, and that's why we've created a seamless web application for pasting, storing, and exchanging snippets of text with ease. Whether you're sharing excerpts, or simply conveying ideas succinctly, Snippetbox has you covered. Our user-friendly interface ensures that your snippets are beautifully presented and easily accessible. Join our community today and experience the joy of sharing ideas in their purest, most compact form with Snippetbox.</p>
{{end}}
